In [146]:
import pandas as pd
import numpy as np

In [147]:
match_df = pd.read_csv(r'C:\Users\chira\OneDrive\Desktop\Machine_Learning\Datasets\IPL\IPL_Matches_2008_2022.csv')
delivery = pd.read_csv(r'C:\Users\chira\OneDrive\Desktop\Machine_Learning\Datasets\IPL\IPL_Ball_by_Ball_2008_2022.csv')

In [148]:
match_df['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [93]:
total_score = delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

C:\Users\chira\AppData\Local\Temp\ipykernel_11032\2718560324.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score = delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [94]:
total_score = total_score[total_score['innings'] == 1]

In [95]:
match_df = match_df.merge(total_score[['ID','total_run']],left_on='ID',right_on='ID')

In [96]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,110
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,165
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,129
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,240
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,222

In [97]:
teams = [
    'Sunrisers Hyderabad','Mumbai Indians',
    'Royal Challengers Bangalore','Kolkata Knight Riders',
    'Kings XI Punjab','Chennai Super Kings',
    'Rajasthan Royals','Delhi Capitals',
    'Gujarat Titans','Lucknow Super Giants'
]

In [98]:
match_df['Team1'] = match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2'] = match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1'] = match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [99]:
match_df = match_df[match_df['Team1'].isin(teams)]
match_df = match_df[match_df['Team2'].isin(teams)]

In [100]:
match_df = match_df[['ID','City','WinningTeam','Team1','Team2','total_run']]

In [101]:
delivery

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [102]:
match_df

,ID,City,WinningTeam,Team1,Team2,total_run
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130
1,1312199,Ahmedabad,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,157
2,1312198,Kolkata,Royal Challengers Bangalore,Royal Challengers Bangalore,Lucknow Super Giants,207
3,1312197,Kolkata,Gujarat Titans,Rajasthan Royals,Gujarat Titans,188
5,1304115,Mumbai,Mumbai Indians,Delhi Capitals,Mumbai Indians,159
...,...,...,...,...,...,...
945,335986,Kolkata,Kolkata Knight Riders,Kolkata Knight Riders,Sunrisers Hyderabad,110
946,335985,Mumbai,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,165
947,335984,Delhi,Delhi Daredevils,Delhi Capitals,Rajasthan Royals,129
948,335983,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,240
949,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222

In [103]:
delivery_df = match_df.merge(delivery,on='ID')

In [104]:
delivery_df.head(5)

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,1,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,3,JC Buttler,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,4,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,5,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [105]:
delivery_df['WinningTeam'] = delivery_df['WinningTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
delivery_df['WinningTeam'] = delivery_df['WinningTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [106]:
delivery_df.head()

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,1,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,3,JC Buttler,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,4,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,1,0,5,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [107]:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [108]:
delivery_df.head()

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,1,WP Saha,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,2,WP Saha,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,3,WP Saha,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,4,Shubman Gill,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,5,Shubman Gill,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans

In [109]:
def get_bowling_team(row):
    if row['WinningTeam'] == row['Team1'] and row['WinningTeam'] == row['BattingTeam']:
        return row['Team2']
    elif row['WinningTeam'] == row['Team2'] and row['WinningTeam'] == row['BattingTeam']:
        return row['Team1']
    elif row['WinningTeam'] == row['Team1'] and row['Team2'] == row['BattingTeam']:
        return row['WinningTeam']
    elif row['WinningTeam'] == row['Team2'] and row['Team1'] == row['BattingTeam']:
        return row['WinningTeam']

In [110]:
delivery_df['BowlingTeam'] = delivery_df.apply(get_bowling_team, axis=1)

In [111]:
delivery_df.tail()

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders

In [112]:
delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run_y']

C:\Users\chira\AppData\Local\Temp\ipykernel_11032\3325906612.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run_y']

In [113]:
delivery_df

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,current_score
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,1,WP Saha,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,2,WP Saha,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,3,WP Saha,...,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,4,Shubman Gill,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,5,Shubman Gill,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,80
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,...,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,82
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,82

In [114]:
delivery_df['runs_left'] = delivery_df['total_run_x'] - delivery_df['current_score'] + 1

In [115]:
delivery_df

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,1,WP Saha,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,2,WP Saha,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,3,WP Saha,...,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,4,Shubman Gill,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,5,Shubman Gill,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,80,143
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,...,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,82,141
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,82,141

In [116]:
delivery_df['balls_left'] = 120 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

In [117]:
delivery_df

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,1,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,2,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,3,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,4,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,5,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,80,143,31
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142,30
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142,29
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,82,141,29
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,82,141,28

In [118]:
delivery_df['player_out'] = delivery_df['player_out'].fillna("0")
delivery_df['player_out'] = delivery_df['player_out'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_out'] = delivery_df['player_out'].astype('int')
wickets = delivery_df.groupby('ID').cumsum()['player_out'].values
delivery_df['wickets'] = 10 - wickets
delivery_df.head()

C:\Users\chira\AppData\Local\Temp\ipykernel_11032\710022179.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = delivery_df.groupby('ID').cumsum()['player_out'].values

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,1,WP Saha,...,0,0,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,2,WP Saha,...,0,0,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,3,WP Saha,...,0,0,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,4,Shubman Gill,...,0,0,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,5,Shubman Gill,...,0,0,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10

In [119]:
delivery_df['crr'] = (delivery_df['current_score'] *6) / (120 - delivery_df['balls_left'])

In [120]:
delivery_df['rrr'] = (delivery_df['runs_left'] *6)/ delivery_df['balls_left']

In [121]:
def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else 0

In [122]:
delivery_df['result'] = delivery_df.apply(result,axis = 1)

In [123]:
delivery_df

,ID,City,WinningTeam,Team1,Team2,total_run_x,innings,overs,ballnumber,batter,...,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,1,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000,6.605042,1
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,2,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000,6.661017,1
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,3,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000,6.666667,1
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,4,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000,6.724138,1
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,2,0,5,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,80,143,31,1,5.393258,27.677419,0
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142,30,1,5.400000,28.400000,0
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142,29,1,5.340659,29.379310,0
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,82,141,29,1,5.406593,29.172414,0
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,82,141,28,0,5.347826,30.214286,0

In [124]:
final_df = delivery_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','total_run_x','crr','rrr','result']]

In [125]:
final_df

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,119,10,130,0.000000,6.605042,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,118,10,130,0.000000,6.661017,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,117,10,130,2.000000,6.666667,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,116,10,130,1.500000,6.724138,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,115,10,130,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
192250,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,143,31,1,222,5.393258,27.677419,0
192251,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,30,1,222,5.400000,28.400000,0
192252,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,29,1,222,5.340659,29.379310,0
192253,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,29,1,222,5.406593,29.172414,0
192254,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,28,0,222,5.347826,30.214286,0

In [126]:
final_df = final_df.sample(final_df.shape[0])

In [127]:
final_df.sample()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
108568,Delhi Capitals,Sunrisers Hyderabad,NaN,168,105,10,184,6.8,9.6,0

# Model Building

In [128]:
final_df.dropna(inplace=True)

In [129]:
final_df = final_df[final_df['balls_left'] != 0]

In [130]:
x = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [131]:
x_train

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr
146982,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,172,119,10,171,0.000000,8.672269
56665,Chennai Super Kings,Delhi Capitals,Delhi,113,72,9,162,6.250000,9.416667
146294,Royal Challengers Bangalore,Delhi Capitals,Delhi,65,64,6,160,10.285714,6.093750
80477,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,124,70,9,194,8.520000,10.628571
177941,Royal Challengers Bangalore,Chennai Super Kings,Port Elizabeth,133,79,7,179,6.878049,10.101266
...,...,...,...,...,...,...,...,...,...
71733,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,160,81,8,209,7.692308,11.851852
153637,Chennai Super Kings,Kolkata Knight Riders,Chennai,132,115,9,139,9.600000,6.886957
69385,Delhi Capitals,Royal Challengers Bangalore,Delhi,68,41,6,161,7.139241,9.951220
167263,Kolkata Knight Riders,Chennai Super Kings,Centurion,131,82,9,188,9.157895,9.585366
92996,Kings XI Punjab,Rajasthan Royals,Ahmedabad,164,92,9,191,6.000000,10.695652

In [132]:
x_test

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr
78998,Kings XI Punjab,Royal Challengers Bangalore,Chandigarh,145,97,10,175,8.086957,8.969072
13831,Sunrisers Hyderabad,Rajasthan Royals,Pune,73,2,3,210,7.016949,219.000000
185861,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,54,48,7,129,6.333333,6.750000
132754,Kolkata Knight Riders,Chennai Super Kings,Chennai,118,95,9,139,5.280000,7.452632
135019,Kolkata Knight Riders,Sunrisers Hyderabad,Cuttack,48,47,6,126,6.493151,6.127660
...,...,...,...,...,...,...,...,...,...
32498,Mumbai Indians,Kolkata Knight Riders,Abu Dhabi,82,78,10,148,9.571429,6.307692
156092,Rajasthan Royals,Kings XI Punjab,Jaipur,73,79,10,153,11.853659,5.544304
172817,Royal Challengers Bangalore,Mumbai Indians,Johannesburg,99,87,9,149,9.272727,6.827586
147840,Delhi Capitals,Sunrisers Hyderabad,Delhi,25,4,4,168,7.448276,37.500000
166561,Kings XI Punjab,Chennai Super Kings,Durban,71,52,7,116,4.058824,8.192308

In [133]:
y_train

146982    1
56665     0
146294    1
80477     0
177941    0
         ..
71733     0
153637    1
69385     0
167263    1
92996     1
Name: result, Length: 69168, dtype: int64

In [134]:
y_test

78998     0
13831     0
185861    0
132754    1
135019    1
         ..
32498     1
156092    1
172817    1
147840    0
166561    0
Name: result, Length: 17292, dtype: int64

In [135]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])
], remainder='passthrough')

In [136]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [137]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [138]:
pipe.fit(x_train,y_train)

C:\Users\chira\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [139]:
y_pred = pipe.predict(x_test)

In [140]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8084663428174879

In [141]:
pipe.predict_proba(x_test)[5]

array([0.2253013, 0.7746987])

In [142]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [143]:
delivery_df['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Raipur', 'Ranchi', 'Cuttack', 'Dharamsala', 'Nagpur',
       'Johannesburg', 'Centurion', 'Durban', 'Bloemfontein',
       'Port Elizabeth', 'Kimberley', 'East London', 'Cape Town'],
      dtype=object)

In [145]:
import pickle
pickle.dump(pipe,open('pipee.pkl','wb'))